<div class="container">
    <form class="vote-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="vote">Odpowiedź</label>
            <input [(ngModel)]="vote" class="form-control" id="vote" placeholder="Wpisz odpowiedź" name='vote' required>
        </div>
        <div class="form-group spacer">
            <label for="clientId">Id głosowaniar</label>
            <input [(ngModel)]="clientId" class="form-control" id="clientId" name='clientId'
                placeholder="Wpisz identyfikator glosowania" required>
        </div>
        <button type="sumbit" class="spacer btn btn-primary">Oddaj głos</button>
    </form>
</div>