<div class="container">
    <form class="vote-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="vote">Odpowiedź</label>
            <select [(ngModel)]="vote" class="form-control" id="vote" placeholder="Wybierzź" name='vote' required>
                <option value="Rejected">Rejected</option>
                <option value="Accepted">Accepted</option>
            </select>
        </div>
        <div class="form-group spacer">
            <label for="clientId">Identyfikator</label>
            <input [(ngModel)]="clientId" class="form-control" id="clientId" name='clientId'
                placeholder="Wpisz identyfikator" required>
        </div>
        <button type="sumbit" class="spacer btn btn-primary">Oddaj głos</button>
    </form>
</div>